<div class="eyecatch">
  <div class="eyecatch-content">
    <h1>TechBoard</h1>
    <p>「我思う、故に我あり。」デカルトは言いました。確かな真実とは何か。と徹底的に懐疑したことで西洋哲学は始まります。まあこのくだりに特に意味は無いんですけど、皆で議論して知を深めましょう。</p>
  </div>
</div>

<section>
  <div class="index-main-content-title">
    <div class="index-main-content-title-flex">
      <h2>Start Talking</h2>
      <i class="far fa-comment"></i>
    </div>
    <p>語り合おう、朝まで。</p>
  </div>

  <div class="index-main-content">
    <div class="boards-wrapper">
      <div class="borads-title-wrapper">
        <h3>掲示板一覧</h3>
        <%= link_to boards_path, method: :get  do %>
          <i class="fas fa-ellipsis-h"></i>
        <% end %>
      </div>
      <ul class="boards">
        <% @boards.each do |board| %>
        <li><%= board.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="all-threads-wrapper">
      <div class="thread-flex">
        <h3>スレッド一覧<span class="label label-default">ALL</span></h3>
        <h3 class="direction-right">新規スレッド作成</h3><i class="far fa-plus-square"></i>
      </div>

      <div class="all-threads">
        <div class="thread">
          <div class="thread-content">
            <h4 class="thread-title">サンプルタイトルサンプルタイトル</h4>
            <h4 class="thread-author">hogehoge123</h4>
          </div>
        </div>
        <div class="thread">
          <div class="thread-content">
            <h4 class="thread-title">サンプルタイトルサンプルタイトル</h4>
            <h4 class="thread-author">hogehoge123</h4>
          </div>
        </div>
        <div class="thread">
          <div class="thread-content">
            <h4 class="thread-title">サンプルタイトルサンプルタイトル</h4>
            <h4 class="thread-author">hogehoge123</h4>
          </div>
        </div>
        <div class="thread">
          <div class="thread-content">
            <h4 class="thread-title">サンプルタイトルサンプルタイトル</h4>
            <h4 class="thread-author">hogehoge123</h4>
          </div>
        </div>
        <div class="thread">
          <div class="thread-content">
            <h4 class="thread-title">サンプルタイトルサンプルタイトル</h4>
            <h4 class="thread-author">hogehoge123</h4>
          </div>
        </div>
        <div class="thread">
          <div class="thread-content">
            <h4 class="thread-title">サンプルタイトルサンプルタイトル</h4>
            <h4 class="thread-author">hogehoge123</h4>
          </div>
        </div>

      </div>
    </div>
    <i class="fas fa-ellipsis-v"></i>
    <div class="all-threads-more">
      <i class="far fa-clipboard"></i>
      <h4>more...</h4>
      <i class="far fa-caret-square-up"></i>
    </div>


  </div>
</section>
